:root {
    --color-primary: #368FCD;
    --color-primary-dark: #2E7BB3;
    --color-danger: #F95F53;
    --color-danger-dark: #E0544A;
    --color-success: #57BD9C;
    --color-success-dark: #2CA880;
    --color-dark: #000;
    --color-dark-gray: #3C3D40;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #ccc;
}

.progress {
    background-color: var(--color-primary);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    z-index: 1;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--color-primary);
    color: #fff;
}

/* Form */
.form {
    width: 80%;
    margin: 0 10%;
}

.form-step {
    display: none;
    transform-origin: top;
    width: 108%;
    /* animation: animate 0.5s; */
}

.form-step-active {
    display: block;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

/* Button */
.btns-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-steps {
    width: 20%;
    padding: 15px;
    margin: 20px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    background-color: #484848;
    color: #fff;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-steps:hover{
    color: #fff;
}





