/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2021, 07:11:45 PM
    Author     : rhm
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


body
{
    font-family: 'Poppins', sans-serif!important;
}

.form-control
{
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: .8em;
   
 
}

 .form-control-label
 {
    font-family: 'Poppins', sans-serif;
    
}

#mapa
{
 border-radius: 20px;
 box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.btn
{
    border-radius: 15px  
}

.vqr
{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.del, .vpdf, .vpdfs
{
    border-radius: 5px;
}