/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2018, 11:54:07 AM
    Author     : desarrollo
*/
@font-face {
	font-family: 'Bebas Neue';
	src:url('fonts/BebasNeue.otf');
	
}

.modalDialogEs {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
                font-family: 'Bebas Neue'!important;
	}

	.modalDialogEs:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialogEs > div {
		width: 400px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		/*background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);*/
	}

	.closeEs {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.closeEs:hover { background: #00d9ff; }

        
        
        
        .close
        {
            display: none!important
        }
        
        #owl-demo
        {
            width: 100%!important
        }
        
       
        
img.llogin
{
    width: 300px;
}


.login-form {
    background-color:rgba(61,62,63,0.7);
    padding: 30px 30px 20px;
    border-radius: 2px;
}


.btn-success
{
    background-color: #a38022
}

.btn-success:hover
{
    background-color: #7f641d;
}


.btn-success:active
{
    background-color: #7f641d;
}



.login-form label a {
    color: #a38022
}

aside.left-panel
{
    background: #8e7631!important;
}


.aeliminar
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: red
}

.vpdf
{
    padding: 10px;
    background-color: red;
    color: white
}

.vimg
{
    padding: 10px;
    background-color: blue;
    color: white;
    margin-left: 10px
}